<div class="panel">
        <div>
            <button (click)="ToggleImages()" class="btn btn-primary">{{showImage?"Hide":"Show" }} Images</button>
        </div>
        <div class="row">
            <div class="col-md-2">Enter Filter Text</div>
            <div class="col-md-2"><input type="text" class="form-control" [(ngModel)]="filterBy" /></div>
            <ng-template [ngIf]="filterBy">
                <div class="col-md-2"><span class="alert alert-info">{{filterBy | uppercase | lowercase }}</span></div>
            </ng-template>
            <div class="col-md-2" *appUnless="filterBy">
                <span class="alert alert-danger">Enter Some Filter Text</span>
            </div>            
        </div>
        <div class="panel-body">
            <div class="row" >                
                <div class="col-md-3" *ngFor="let product of products" >
                    <app-product-thumbnail [product]="product" [showHideFlag]="showImage"></app-product-thumbnail>
                </div>
            </div>
        </div>
    </div>
