<div class="footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <h1>Product Manager</h1>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 right">
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4>Business Info.</h4>
                    <p>ipsum dolor sit amet, consectetur</p>
                    <p>ipsum dolor sit amet, consectetur</p>
                    <p>ipsum dolor sit amet, consectetur</p>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-12">
                      <h4>Contact Info.</h4>
                      <p>ipsum dolor sit amet, consectetur</p>
                      <p>ipsum dolor sit amet, consectetur</p>
                      <p>ipsum dolor sit amet, consectetur</p>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-12">
                        <h4>Social Links</h4>
                    <ul>
                        <li><i class="fa fa-facebook-square" (click)="callMethod()" style="font-size:48px;color:#3b5998"></i></li>
                        <li><i class="fa fa-twitter-square" style="font-size:48px;color:#00ACED" ></i></li>
                        <li><i class="fa fa-instagram" style="font-size:48px;color:#FB3958"></i></li>
                    </ul> 
                  </div>
              </div>
             
               
               </div>
      </div>
      </div>