<div class="container">
  <form (ngSubmit)="onUserSubmit()" [formGroup]="signUpForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" placeholder="Enter First Name" [formControlName]="'firstName'" class="form-control" />
      <span
            *ngIf="signUpForm.get('firstName').invalid && signUpForm.get('firstName').touched" >
            First Name is a required Field</span>
    </div>
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" class="form-control" placeholder="Enter User Name" formControlName="userName" />
      <span
            *ngIf="signUpForm.get('userName').invalid && signUpForm.get('userName').touched"
       >User Name is a required Field</span>
      
    </div>

    <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary">Save</button>
  </form>
</div>