<div class="panel">
        <div class="panel-heading">{{pageTitle}}</div>
        <div>
            <button (click)="toggleImage()" class="btn btn-primary">{{showImage?"Hide":"Show" }} Images</button>
        </div>
        <div class="row">
            <div class="col-md-2">Enter Filter Text</div>
            <div class="col-md-2"><input type="text" class="form-control" [(ngModel)]="filterBy" /></div>
            <div class="col-md-2" *ngIf="filterBy"><span class="alert alert-info">{{filterBy}}</span></div>
                    </div>
        <div class="panel-body">
            <div class="row" >
                <div *ngFor="let prod of products;let i=index" class="col-md-6">
                    <app-product-details  [productDetails]="prod" (OnProductDetailsClicked)="ParentHandler($event)" class="col-md-6" style="border:1px solid black;">
                
                    </app-product-details>
                    <button class="btn btn-danger" (click)="RemoveProduct(i)">Remove</button>
                </div>
                
                
            </div>
            <p>Test Para of Parent</p>
        </div> </div>
