<div class="container">
    <div class="jumbotron">
        <h2>{{Title}}</h2>
        <!-- We cannot use Assignment Operator, Chained 
                Expressions(Multiple Expression) and new Keyword inside String
                Interpolation expression -->
    </div>
    <div class="row">
        <div class="col-md-3">Filter By</div>
        <div class="col-md-3"><input [(ngModel)]="filterBy" class="form-control"/></div>
    </div>
    <div *ngIf="(filterBy && filterBy.length > 2) else noFilter" class="row">
        <div class="col-md-3">Showing Products with name : </div>
        <div class="col-md-3">{{filterBy}}</div>
    </div>
    <!-- <div *ngIf="!filterBy || filterBy.length < 3" class="row">
            <div class="alert alert-danger">No Filter Critera Ented</div>
    </div> -->

    <ng-template #noFilter>
        <div class="row">
            <div class="alert alert-danger">No Filter Critera Ented</div>
        </div>
    </ng-template>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" (click)="ToggleImages()">{{toggleImage?"Hide":"Show"}} Images</button>
        </div>        
    </div>
    <div *ngIf="products && products.length>0" class="row">
        <table class="table table-border">
            <thead>
                <th>Image</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Rating</th>
            </thead>
            <tbody>
                    <tr [ngStyle]='{"color":getColor(product)}' *ngFor="let product of products">
                <!-- <tr [ngStyle]='{backgroundColor:dangerColor}' *ngFor="let product of products"> -->
                    <!-- <td><img *ngIf="toggleImage" [ngStyle]='{width:imageWidth,margin:imageMargin}' [src]="product.image" title="product.productName"/></td> -->
                    <td><img *ngIf="toggleImage" [ngStyle]='{width:imageWidth,margin:imageMargin}' src={{product.image}} [title]="product.productName"/></td>
                    <td>{{product.productId}}</td>
                    <td>{{product.productName}}</td>
                    <td>$ {{product.price}}</td>
                    <td>{{product.rating}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>